@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    background-color: #fff;
}
.left{
    display: flex;
    align-items: center;
}
.hamburger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
    cursor: pointer;
}
.left p{
    align-self: flex-start;
    font-size: 10px;
    margin-top: 18px;
    margin-left: 6px;
}
.youtube-logo{
    height: 20px;
    cursor: pointer;
}

.middle{
    display: flex;
    flex: 1;
    max-width: 500px;
    margin-left: 70px;
    margin-right: 35px;
    align-items: center;
}
.search-form{
    flex: 1;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    width: 0;
}
.search-form::placeholder{
    font-family: Roboto, Arial;
    font-size: 16px;
}
.search-button{
    height: 40px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 10px;
}
.voice-search{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(245, 245, 245);
}
.search-img{
    height: 25px;
    margin-top: 4px;
}
.voice-search-img{
    height: 24px;
    margin-top: 4px;
    cursor: pointer;
}

.right{
    display: flex;
    width: 180px;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    flex-shrink: 0;
}

.upload-icon{
    height: 24px;
    cursor: pointer;
}
.youtube-app-icon{
    height: 24px;
    cursor: pointer;
}
.notification-icon{
    height: 24px;
    cursor: pointer;
    position: relative;
}
.current-channel-picture{
    height: 32px;
    border-radius: 16px;
    cursor: pointer;
}
.nf{
    display: flex;
    justify-content: center;
    position: relative;
}
.right p{
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red;
    padding: 0 7px;
    border-radius: 100px;
    cursor: pointer;

}

